
.split-pane{
    -fx-background-color: #0A0E1A;
}

.button {
    -fx-background-color: #007BFF;
    -fx-text-fill:  #E0E0E0;
    -fx-font-family: Sans-Serif;
    -fx-min-height:  40px;
    -fx-max-height:  40px;
    -fx-min-width: 100px;
    -fx-max-width: 200px;
    -fx-font-size:  20px;
}

.dialog-pane{
    -fx-background-color: #0A0E1A;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color:#0A0E1A;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: #0A0E1A;
    -fx-text-fill:#E0E0E0;
    -fx-font-family: Sans-Serif;
    -fx-font-weight:  bolder;
    -fx-font-size:20px;
    -fx-text-alignment:  center;
    -fx-alignment: center;
}

.scroll-bar{
    -fx-background-color: #0A0E1A;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .corner{
    -fx-background-color: transparent;
}

.slider{
    -fx-background-color: transparent;
}

.slider .track{
    -fx-background-color: #007BFF;
}

.table-view .corner{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #007BFF;
    -fx-background-radius: 5em;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.chart-horizontal-grid-lines{
    -fx-stroke: transparent;
}

.chart-vertical-grid-lines{
    -fx-stroke:  transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view .filler{
    -fx-background-color: transparent;
}

.table-view .label{
    -fx-text-fill: white;
    -fx-font-family: Sans-Serif;
    -fx-text-alignment: center;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-color: transparent;
}

.table-row-cell:even {
    -fx-background-color: transparent;
}
.table-row-cell:odd {
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #A0A0A0;
}

.table-{
    -fx-border-color: transparent;
}

.bar-chart .chart-content .chart-plot-background {
    -fx-background-color: transparent;
    -fx-text-fill:#E0E0E0;
    -fx-font-family: Sans-Serif;
    -fx-font-weight:  bolder;
    -fx-font-size:20px;
}

.bar-chart .label{
    -fx-text-fill: white;
    -fx-font-family: Sans-Serif;
}

.default-color0.chart-bar {
    -fx-bar-fill: #007BFF; /* Color for the first series */
}


